.ipynb_checkpoints/All_Any-checkpoint.ipynb
.ipynb_checkpoints/Python Cleaning Up Text Files-checkpoint.ipynb
.ipynb_checkpoints/Python Dictionaries-checkpoint.ipynb
.ipynb_checkpoints/Python File IO-checkpoint.ipynb
.ipynb_checkpoints/Python File Operations 2 Binary Files and Pickle in class 21.05.2019-checkpoint.ipynb
.ipynb_checkpoints/Python Flow Control-checkpoint.ipynb
.ipynb_checkpoints/Python Functions-checkpoint.ipynb
.ipynb_checkpoints/Python Introduction-checkpoint.ipynb
.ipynb_checkpoints/Python Lists-checkpoint.ipynb
.ipynb_checkpoints/Python Modules and Imports-checkpoint.ipynb
.ipynb_checkpoints/Python Sets-checkpoint.ipynb
.ipynb_checkpoints/Python Strings-checkpoint.ipynb
.ipynb_checkpoints/Python Tuples-checkpoint.ipynb
myfile.bin
biglist.txt
bignumbers.txt
list.txt
numbers16_48_38.txt
numbers16_48_9.txt
somefile.txt
JSON/.ipynb_checkpoints/JSON-checkpoint.ipynb
data/random4x9.csv
NumPy/.ipynb_checkpoints/Python NumPy-checkpoint.ipynb
NumPy/.ipynb_checkpoints/100_Numpy_exercises_with_hint-checkpoint.ipynb
NumPy/myints.txt
JSON/data_file.json
JSON/numbers.json
JSON/data_file.json
JSON/data_file.json
JSON/data_file.json
